@media screen and (min-width: 320px) {
	body {
		display: flex;
		justify-content: center;
	}

	main {
		font-size: 16px;
	}
	header {
		flex-direction: column;
		justify-content: center;
		/* font-size: 16px; */
		text-align: center;
		align-items: center;
	}

	.summary {
		text-align: center;
	}

	#myname {
		font-size: 26px;
		order: -1;
	}

	.skills {
		display: flex;
		justify-content: center;
	}
	.skill-list {
		display: flex;
		flex-direction: column;
		justify-content: center;
		/* margin: 0; */
		align-items: center;
		/* flex-wrap: wrap; */
		text-align: center;
		/* margin: 0 auto; */

	}
	.skill-list p {
		/* text-align: center; */
	}
	.res-heading {
		text-align: center;
	}
	.hidden {
		display: none;
	}

	dd {
		font-size: 18px;
		text-align: center;
	}
	/* dd a {
		display: block;
	} */

	/* dt {
		font-size: 18px;
	} */

	dl{
		display: flex;
		flex-direction: column;
		justify-content: center;
		/* align-items: center; */
	}

	.work-history {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
	.job {
		font-size: 16px;
		text-align: center;
	}
}


@media screen and (min-width: 1200px) {
	main {
		width: 1200px;
		margin: 0 auto;
	}

}
