@media screen and (min-width: 320px) and (max-width: 600px) {
	body {
		display: flex;
		justify-content: center;
	}

	main {
		font-size: 16px;
	}

	header {
		flex-direction: column;
		justify-content: center;
		text-align: center;
		align-items: center;
	}

	.summary {
		text-align: center;
	}

	#myname {
		font-size: 26px;
		order: -1;
	}

	.skills {
		display: flex;
		justify-content: center;
	}

	.skill-list {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		text-align: center;
	}
	
	.res-heading {
		text-align: center;
	}

	.hidden {
		display: none;
	}

	dd {
		font-size: 18px;
		text-align: center;
	}

	dl{
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	.work-history {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	.job {
		font-size: 16px;
		text-align: center;
	}
}

@media screen and (min-width: 601px) and ( max-width: 800px) {

	body {
		font-size: 16px;
	}

	.hidden {
		display: none;
	}

	#myname {
		font-size: 40px;
		text-align: center;	
	}
	
	header p, header a {
		font-size: 16px;
	}
}

@media screen and (min-width: 801px) and ( max-width: 1100px) {
	
	/* - leave the header info in a flexbox row 
	- move the name to the center with order property
	- use margin to push name to a new "row" while keeping the other info neatly spaced */
	#myname {
		order: 1;
		font-size: 34px;
		margin-bottom: 100px;
	}

	.links {
		order: 2;
	}
	
	header {
		justify-content: space-between;
		font-size: 16px;
	}
}

@media screen and (min-width: 1200px) {
	main {
		width: 1200px;
		margin: 0 auto;
	}
}
