* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-image: url('full-bloom.png');
	font-family: 'Didact Gothic', sans-serif;
	font-size: 1.2em;
	display: flex;
	justify-content: center;
}

main {
	background-color: white;
	width: 90%;
	display: flex;
	flex-direction: column;
	padding: 30px;
	border: 2px solid rgba(0, 0, 0, 0.5);
	/* box-shadow:  0 5px 15px 0 rgba(0, 0, 0, .2); */
	/* box-shadow: -2px -2px 15px 3px rgba(0, 0, 0, .2); */
	/* box-shadow: 3px -2px 15px 3px rgba(0, 0, 0, .2); */
	box-shadow: 2px 2px 10px 3px rgba(0, 0, 0, .2);
}

header {
	display: flex;
	justify-content: space-between;
	border-bottom: 4px solid rgba(0, 0, 0, 0.5);
	padding: 10px;
	align-items: flex-end;
}

#myname {
	font-size: 48px;
}

.res-heading {
	border-bottom: 3px solid rgba(0, 0, 0, 0.5);
	margin-bottom: 20px;
	letter-spacing: 1px;
}

h2 {
	padding: 5px 0;
}

header h1 {
	font-size: 40px;
	align-self: center;
	margin: 0 10px;
}

.mail-phone .links {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

header p {
	margin: 5px 0;
	align-self: center;
}

.summary {
	
	margin: 15px 0;
	letter-spacing: .25px;
}

section {
	margin: 15px 0;
}

.skills {
	display: flex;
	justify-content: center;
	flex-direction: column;
}


.skill-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.skill-list p {
	margin: 5px 0;
	width: 33.333%;
}

dd {
	font-weight: bold;
	font-size: 20px;
	margin-bottom: 5px;
}

dt {
	padding-left: 1em;
	margin-bottom: 20px;
}

.education {
	font-size: 20px;
}

.education p:last-child {
	margin-top: 10px;
}

.education span {
	font-weight: bold;
}

.job {
	font-weight: bold;
	font-size: 20px;
	text-decoration: underline;
	letter-spacing: 2px;
}

.job-desc ul {
	margin-left: 40px;
}

ul li {
	list-style-type: square;
}